In [1]:
import pandas as pd

# Load party database
party_df_74 = pd.read_csv("data/processed/pr_votes_long_2074.csv")
party_df_79 = pd.read_csv("data/processed/pr_votes_long_2079.csv")

In [6]:
party_df_74.head(10)

,district_id,district,Party,Votes,election_year,party_id,Total_valid_pr_votes,Vote_Share
0,1,ताप्लेजुंग,नेपाल कम्युनिष्ट पार्टी (एमाले),20740,2074,P1,47056,44.075145
1,1,ताप्लेजुंग,नेपाली काँग्रेस,14799,2074,P2,47056,31.449762
2,1,ताप्लेजुंग,एकल चिन्ह गोलाकारभित्रको हसिया हथौडा लिएका,6341,2074,P3,47056,13.475434
3,1,ताप्लेजुंग,संघीय लोकतान्त्रिक राष्ट्रिय मञ्च,2009,2074,P34,47056,4.269381
4,1,ताप्लेजुंग,"नयाँ शक्ति पार्टी, नेपाल",746,2074,P14,47056,1.585345
5,1,ताप्लेजुंग,"संघीय समाजवादी फोरम, नेपाल",520,2074,P6,47056,1.105066
6,1,ताप्लेजुंग,राष्ट्रिय जनमुक्ति पार्टी,508,2074,P55,47056,1.079565
7,1,ताप्लेजुंग,राष्ट्रिय प्रजातन्त्र पार्टी,446,2074,P5,47056,0.947807
8,1,ताप्लेजुंग,आमूल परिवर्तन मसिहा पार्टी नेपाल,236,2074,P59,47056,0.501530
9,1,ताप्लेजुंग,एकल चिन्ह हसिया तारा लिएका,133,2074,P22,47056,0.282642

In [4]:
RPP_lag79 = party_df_74[party_df_74['party_id'].isin(["P5", "P96", "P97"])].groupby('district_id').agg({'Vote_Share': 'sum'}).reset_index()

In [10]:
RPP_lag79.rename(columns={'Vote_Share': 'vote_share_lag'}, inplace=True)

In [8]:
RPP_lag79["party_id"] = "P005"

In [11]:
RPP_lag79.head()

   district_id  vote_share_lag party_id
0            1        1.232574     P005
1            2        9.930706     P005
2            3        2.191661     P005
3            4        9.055180     P005
4            5        3.242612     P005

In [12]:
RSP_lag82 = party_df_79[party_df_79['party_id'].isin(["P4", "P92"])].groupby('district_id').agg({'Vote_Share': 'sum'}).reset_index()

In [13]:
RSP_lag82["party_id"] = "P004"

In [14]:
RSP_lag82.rename(columns={'Vote_Share': 'vote_share_lag'}, inplace=True)

In [15]:
RSP_lag82.tail()

    district_id  vote_share_lag party_id
72           73        3.137960     P004
73           74        7.509064     P004
74           75        8.265096     P004
75           77       13.066938     P004
76           78        3.262688     P004

In [16]:
NCP_lag82 = party_df_79[party_df_79['party_id'].isin(["P3", "P8", "P94"])].groupby('district_id').agg({'Vote_Share': 'sum'}).reset_index()

In [18]:
NCP_lag82["party_id"] = "P003"

In [19]:
NCP_lag82.rename(columns={'Vote_Share': 'vote_share_lag'}, inplace=True)

In [20]:
NCP_lag82.tail()

    district_id  vote_share_lag party_id
72           73       17.232513     P003
73           74       19.241720     P003
74           75       16.499334     P003
75           77        4.152618     P003
76           78       62.508714     P003

In [21]:
model_base79 = pd.read_csv("data/processed/training_pr_base.csv")

In [22]:
model_base79.head()

,district_id,party_id,election_year,vote_share,vote_share_lag,vote_share_change,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,...,Intermediate & equivalent % 2078,Graduate & equivalent % 2078,Post graduate equivalent & above % 2078,female_ratio,IS_ALTERNATIVE_FORCE?,GenZ_and_Youth_Favored?,Was_Part_Of_Ousted_Government?,IS_Major?,Facebook_Presence (In Thousands),Top_leader_fb (in Thousands)
0,1,P001,2079,42.369621,44.075145,-1.705523,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,350.0,650.0
1,1,P002,2079,34.007651,31.449762,2.557889,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,300.0,621.0
2,1,P003,2079,11.156498,13.475434,-2.318936,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,160.0,700.0
3,1,P004,2079,2.113726,0.000000,0.000000,1,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,1,1,0,0,250.0,1200.0
4,1,P005,2079,1.376732,0.947807,0.428925,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,0,0,40.0,850.0

In [26]:
model_base79.head()

,district_id,party_id,election_year,vote_share,vote_share_lag,vote_share_change,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,...,Intermediate & equivalent % 2078,Graduate & equivalent % 2078,Post graduate equivalent & above % 2078,female_ratio,IS_ALTERNATIVE_FORCE?,GenZ_and_Youth_Favored?,Was_Part_Of_Ousted_Government?,IS_Major?,Facebook_Presence (In Thousands),Top_leader_fb (in Thousands)
0,1,P001,2079,42.369621,44.075145,-1.705523,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,350.0,650.0
1,1,P002,2079,34.007651,31.449762,2.557889,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,300.0,621.0
2,1,P003,2079,11.156498,13.475434,-2.318936,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,160.0,700.0
3,1,P004,2079,2.113726,0.000000,2.113726,1,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,1,1,0,0,250.0,1200.0
4,1,P005,2079,1.376732,1.232574,0.144158,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,0,0,40.0,850.0

In [23]:
model_base79 = model_base79.merge(
    RPP_lag79[['district_id', 'party_id', 'vote_share_lag']],
    on=['district_id', 'party_id'],
    how='left',
    suffixes=('', '_new')
)

model_base79['vote_share_lag'] = (
    model_base79['vote_share_lag_new']
    .combine_first(model_base79['vote_share_lag'])
)

model_base79.drop(columns='vote_share_lag_new', inplace=True)

In [25]:
model_base79["vote_share_change"] = model_base79["vote_share"] - model_base79["vote_share_lag"]

In [28]:
model_base79.to_csv("data/processed/training_pr_base.csv", index=False)

In [29]:
predict_base82 = pd.read_csv("data/processed/base_pr_2082.csv")

In [31]:
predict_base82.sort_values(by=['district_id', 'party_id'], inplace=True)

In [32]:
predict_base82.head()

,party_id,district_id,election_year,vote_share_lag,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,Primary Education % 2078,Lower Secondary % 2078,...,Post graduate equivalent & above % 2078,female_ratio,IS_Major?,IS_ALTERNATIVE_FORCE?,GenZ_and_Youth_Favored?,Was_Part_Of_Ousted_Government?,Facebook_Presence (In Thousands),Top_leader_fb (in Thousands),facebook_log,leader_following_log
0,P001,1,2082,42.369621,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,1,374.0,710.0,5.926926,6.566672
77,P002,1,2082,34.007651,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,1,32.0,621.0,3.496508,6.432940
154,P003,1,2082,11.156498,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,0,174.0,756.0,5.164786,6.629363
231,P004,1,2082,2.113726,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,1,1,0,401.0,3300.0,5.996452,8.101981
308,P005,1,2082,1.376732,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,0,43.0,910.0,3.784190,6.814543

In [38]:
predict_base82.head()

,party_id,district_id,election_year,vote_share_lag,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,Primary Education % 2078,Lower Secondary % 2078,...,Post graduate equivalent & above % 2078,female_ratio,IS_Major?,IS_ALTERNATIVE_FORCE?,GenZ_and_Youth_Favored?,Was_Part_Of_Ousted_Government?,Facebook_Presence (In Thousands),Top_leader_fb (in Thousands),facebook_log,leader_following_log
0,P001,1,2082,42.369621,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,1,374.0,710.0,5.926926,6.566672
1,P002,1,2082,34.007651,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,1,32.0,621.0,3.496508,6.432940
2,P003,1,2082,14.499989,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,0,174.0,756.0,5.164786,6.629363
3,P004,1,2082,2.115888,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,1,1,0,401.0,3300.0,5.996452,8.101981
4,P005,1,2082,1.376732,0,7.14,5.17,82.21,30.53,21.99,...,1.07,0.496036,1,0,0,0,43.0,910.0,3.784190,6.814543

In [33]:
predict_base82 = predict_base82.merge(
    NCP_lag82[['district_id', 'party_id', 'vote_share_lag']],
    on=['district_id', 'party_id'],
    how='left',
    suffixes=('', '_new')
)

predict_base82['vote_share_lag'] = (
    predict_base82['vote_share_lag_new']
    .combine_first(predict_base82['vote_share_lag'])
)

predict_base82.drop(columns='vote_share_lag_new', inplace=True)

In [37]:
predict_base82 = predict_base82.merge(
    RSP_lag82[['district_id', 'party_id', 'vote_share_lag']],
    on=['district_id', 'party_id'],
    how='left',
    suffixes=('', '_new')
)

predict_base82['vote_share_lag'] = (
    predict_base82['vote_share_lag_new']
    .combine_first(predict_base82['vote_share_lag'])
)

predict_base82.drop(columns='vote_share_lag_new', inplace=True)

In [39]:
predict_base82.to_csv("data/processed/base_pr_2082.csv", index=False)