In [1]:
import pandas as pd
base79 = pd.read_csv("data/processed/training_pr_base.csv")

In [2]:
base79.head()

,district_id,party_id,election_year,vote_share,vote_share_lag,vote_share_change,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,...,Intermediate & equivalent % 2078,Graduate & equivalent % 2078,Post graduate equivalent & above % 2078,female_ratio,IS_ALTERNATIVE_FORCE?,GenZ_and_Youth_Favored?,Was_Part_Of_Ousted_Government?,IS_Major?,Facebook_Presence (In Thousands),Top_leader_fb (in Thousands)
0,1,P001,2079,42.369621,44.075145,-1.705523,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,350.0,650.0
1,1,P002,2079,34.007651,31.449762,2.557889,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,300.0,621.0
2,1,P003,2079,11.156498,13.475434,-2.318936,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,1,1,160.0,700.0
3,1,P004,2079,2.113726,0.000000,2.113726,1,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,1,1,0,0,250.0,1200.0
4,1,P005,2079,1.376732,1.232574,0.144158,0,7.14,5.17,82.21,...,9.82,2.58,1.07,0.496036,0,0,0,0,40.0,850.0

In [3]:
voter82 = pd.read_csv("data/raw/All_Nepal_district_level_data_voter_data_2082.csv")

In [11]:
voter82.head()

,state_id,district_id,gender_पुरुष,gender_महिला,gender_अन्य,age_18-29,age_30-39,age_40-49,age_50-59,age_60-69,...,total_voters,DISTRICT,age_70+,female_ratio,age_18-29_ratio,age_30-39_ratio,age_40-49_ratio,age_50-59_ratio,age_60-69_ratio,age_70+_ratio
0,1,1,48285,42042,0,18871,23569,16231,12820,10276,...,90327,TAPLEJUNG,8560,0.465442,0.208919,0.260930,0.179692,0.141929,0.113764,0.094767
1,1,2,76078,67330,0,26685,37766,25095,19978,17351,...,143408,PANCHTHAR,16533,0.469500,0.186077,0.263347,0.174990,0.139309,0.120990,0.115286
2,1,3,119648,112158,3,38788,58799,46102,34627,28046,...,231809,ILAM,25447,0.483838,0.167327,0.253653,0.198879,0.149377,0.120988,0.109776
3,1,4,358346,355183,8,113578,162362,157143,118395,80660,...,713537,JHAPA,81399,0.497778,0.159176,0.227545,0.220231,0.165927,0.113042,0.114078
4,1,5,62172,57458,0,23510,30283,22557,16819,13985,...,119630,SANKHUWASABHA,12476,0.480298,0.196523,0.253139,0.188556,0.140592,0.116902,0.104288

In [6]:
voter82["age_70+"] = voter82["age_70-79"] + voter82["age_80-89"] + voter82["age_90-99"] + voter82["age_100+"]

In [8]:
voter82["female_ratio"] = voter82["gender_महिला"] / voter82["total_voters"]

In [10]:
voter82["age_18-29_ratio"] = voter82["age_18-29"] / voter82["total_voters"]
voter82["age_30-39_ratio"] = voter82["age_30-39"] / voter82["total_voters"]
voter82["age_40-49_ratio"] = voter82["age_40-49"] / voter82["total_voters"]
voter82["age_50-59_ratio"] = voter82["age_50-59"] / voter82["total_voters"]
voter82["age_60-69_ratio"] = voter82["age_60-69"] / voter82["total_voters"]
voter82["age_70+_ratio"] = voter82["age_70+"] / voter82["total_voters"]

In [39]:
temp = voter82[['district_id','female_ratio', 'age_18-29_ratio', 'age_30-39_ratio', 'age_40-49_ratio', 'age_50-59_ratio', 'age_60-69_ratio', 'age_70+_ratio',"total_voters"]]

In [40]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   district_id      77 non-null     int64
 1   female_ratio     77 non-null     float64
 2   age_18-29_ratio  77 non-null     float64
 3   age_30-39_ratio  77 non-null     float64
 4   age_40-49_ratio  77 non-null     float64
 5   age_50-59_ratio  77 non-null     float64
 6   age_60-69_ratio  77 non-null     float64
 7   age_70+_ratio    77 non-null     float64
 8   total_voters     77 non-null     int64
dtypes: float64(7), int64(2)
memory usage: 5.5 KB

In [14]:
base79.drop(columns=['female_ratio'], inplace=True)
base79 = base79.merge(temp, on='district_id', how='left')

In [19]:
base79.drop(columns=['female_ratio'], inplace=True)

In [20]:
base79.head()

,district_id,party_id,election_year,vote_share,vote_share_lag,vote_share_change,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,...,Was_Part_Of_Ousted_Government?,IS_Major?,Facebook_Presence (In Thousands),Top_leader_fb (in Thousands),age_18-29_ratio,age_30-39_ratio,age_40-49_ratio,age_50-59_ratio,age_60-69_ratio,age_70+_ratio
0,1,P001,2079,42.369621,44.075145,-1.705523,0,7.14,5.17,82.21,...,1,1,350.0,650.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767
1,1,P002,2079,34.007651,31.449762,2.557889,0,7.14,5.17,82.21,...,1,1,300.0,621.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767
2,1,P003,2079,11.156498,13.475434,-2.318936,0,7.14,5.17,82.21,...,1,1,160.0,700.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767
3,1,P004,2079,2.113726,0.000000,2.113726,1,7.14,5.17,82.21,...,0,0,250.0,1200.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767
4,1,P005,2079,1.376732,1.232574,0.144158,0,7.14,5.17,82.21,...,0,0,40.0,850.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767

In [16]:
stat79 = pd.read_csv("data/raw/district_wise_result_statistics_2079.csv")

In [18]:
stat79["female_ratio"] = stat79["Total_female_voters"] / stat79["Total_eligible_voters"]

In [22]:
base79 = base79.merge(stat79[['district_id', 'female_ratio','Turnout_Rate_PR']], on='district_id', how='left')

In [26]:
base79.rename(columns={'Turnout_Rate_PR': 'valid_turnout_79'}, inplace=True)

In [37]:
base79["valid_turnout_74"] = base79["valid_turnout_74"].round(2)
base79.head()

,district_id,party_id,election_year,vote_share,vote_share_lag,vote_share_change,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,...,Top_leader_fb (in Thousands),age_18-29_ratio,age_30-39_ratio,age_40-49_ratio,age_50-59_ratio,age_60-69_ratio,age_70+_ratio,female_ratio,valid_turnout_79,valid_turnout_74
0,1,P001,2079,42.369621,44.075145,-1.705523,0,7.14,5.17,82.21,...,650.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,0.466727,52.41,60.02
1,1,P002,2079,34.007651,31.449762,2.557889,0,7.14,5.17,82.21,...,621.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,0.466727,52.41,60.02
2,1,P003,2079,11.156498,13.475434,-2.318936,0,7.14,5.17,82.21,...,700.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,0.466727,52.41,60.02
3,1,P004,2079,2.113726,0.000000,2.113726,1,7.14,5.17,82.21,...,1200.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,0.466727,52.41,60.02
4,1,P005,2079,1.376732,1.232574,0.144158,0,7.14,5.17,82.21,...,850.0,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,0.466727,52.41,60.02

In [28]:
stat74 = pd.read_csv("data/raw/district_wise_pr_result_statistics_2074.csv")

In [33]:
stat74.head()

,district_id,district_EN,total_voters,casted_votes,Total_valid_pr_votes,Turnout_Rate,Valid_Vote_Rate,valid_turnout_74
0,1,taplejung,78397,51748,47056,66.01,90.93,60.022705
1,2,panchthar,125219,77977,68837,62.27,88.28,54.973287
2,3,illam,204046,134227,126160,65.78,93.99,61.829195
3,4,jhapa,585166,417819,385735,71.40,92.32,65.918902
4,5,sankhuwasabha,105046,69226,63344,65.90,91.50,60.301201

In [32]:
stat74["valid_turnout_74"] = (stat74["Total_valid_pr_votes"] / stat74["total_voters"])*100

In [35]:
base79 = base79.merge(stat74[['district_id', 'valid_turnout_74']], on='district_id', how='left')

In [55]:
base79.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3619 entries, 0 to 3618
Data columns (total 34 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   district_id                              3619 non-null   int64
 1   party_id                                 3619 non-null   object
 2   election_year                            3619 non-null   int64
 3   vote_share                               3619 non-null   float64
 4   vote_share_lag                           3619 non-null   float64
 5   vote_share_change                        3619 non-null   float64
 6   is_new_party                             3619 non-null   int64
 7   Absent rate within country 2078          3619 non-null   float64
 8   Absent rate abroad 2078                  3619 non-null   float64
 9   Literacy Rate 2078                       3619 non-null   float64
 10  Primary Education % 2078                 3619 non-null   float64
 11  Lower Secondary % 2078                   3619 non-null   float64
 12  Upper Secondary % 2078                   3619 non-null   float64
 13  SLC or SEE % 2078                        3619 non-null   float64
 14  Intermediate & equivalent % 2078         3619 non-null   float64
 15  Graduate & equivalent % 2078             3619 non-null   float64
 16  Post graduate equivalent & above % 2078  3619 non-null   float64
 17  IS_ALTERNATIVE_FORCE?                    3619 non-null   int64
 18  GenZ_and_Youth_Favored?                  3619 non-null   int64
 19  Was_Part_Of_Ousted_Government?           3619 non-null   int64
 20  IS_Major?                                3619 non-null   int64
 21  Facebook_Presence (In Thousands)         3619 non-null   float64
 22  Top_leader_fb (in Thousands)             3619 non-null   float64
 23  age_18-29_ratio                          3619 non-null   float64
 24  age_30-39_ratio                          3619 non-null   float64
 25  age_40-49_ratio                          3619 non-null   float64
 26  age_50-59_ratio                          3619 non-null   float64
 27  age_60-69_ratio                          3619 non-null   float64
 28  age_70+_ratio                            3619 non-null   float64
 29  female_ratio                             3619 non-null   float64
 30  valid_turnout                            3619 non-null   float64
 31  valid_turnout_lag                        3619 non-null   float64
 32  facebook_log                             3619 non-null   float64
 33  leader_following_log                     3619 non-null   float64
dtypes: float64(26), int64(7), object(1)
memory usage: 961.4+ KB

In [52]:
base79.rename(columns={'valid_turnout_79': 'valid_turnout','valid_turnout_74': 'valid_turnout_lag'}, inplace=True)

In [54]:
import numpy as np

base79["facebook_log"] = np.log1p(
    base79["Facebook_Presence (In Thousands)"]
)
base79["leader_following_log"] = np.log1p(
    base79["Top_leader_fb (in Thousands)"]
)

In [56]:
base79.to_csv("data/processed/training_pr_base.csv", index=False)

In [41]:
base82 = pd.read_csv("data/processed/base_pr_2082.csv")

In [45]:
base82.head()

,party_id,district_id,election_year,vote_share_lag,is_new_party,Absent rate within country 2078,Absent rate abroad 2078,Literacy Rate 2078,Primary Education % 2078,Lower Secondary % 2078,...,facebook_log,leader_following_log,female_ratio,age_18-29_ratio,age_30-39_ratio,age_40-49_ratio,age_50-59_ratio,age_60-69_ratio,age_70+_ratio,total_voters
0,P001,1,2082,42.369621,0,7.14,5.17,82.21,30.53,21.99,...,5.926926,6.566672,0.465442,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,90327
1,P002,1,2082,34.007651,0,7.14,5.17,82.21,30.53,21.99,...,3.496508,6.432940,0.465442,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,90327
2,P003,1,2082,14.499989,0,7.14,5.17,82.21,30.53,21.99,...,5.164786,6.629363,0.465442,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,90327
3,P004,1,2082,2.115888,0,7.14,5.17,82.21,30.53,21.99,...,5.996452,8.101981,0.465442,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,90327
4,P005,1,2082,1.376732,0,7.14,5.17,82.21,30.53,21.99,...,3.784190,6.814543,0.465442,0.208919,0.26093,0.179692,0.141929,0.113764,0.094767,90327

In [43]:
base82.drop(columns=['female_ratio'], inplace=True)

In [44]:
base82 = base82.merge(temp, on='district_id', how='left')

In [46]:
base82 = base82.merge(stat79[['district_id','Turnout_Rate_PR']], on='district_id', how='left')

In [47]:
base82.rename(columns={'Turnout_Rate_PR': 'valid_turnout_lag'}, inplace=True)

In [49]:
base82.to_csv("data/processed/base_pr_2082.csv", index=False)

In [50]:
base82.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6622 entries, 0 to 6621
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   party_id                                 6622 non-null   object
 1   district_id                              6622 non-null   int64
 2   election_year                            6622 non-null   int64
 3   vote_share_lag                           6622 non-null   float64
 4   is_new_party                             6622 non-null   int64
 5   Absent rate within country 2078          6622 non-null   float64
 6   Absent rate abroad 2078                  6622 non-null   float64
 7   Literacy Rate 2078                       6622 non-null   float64
 8   Primary Education % 2078                 6622 non-null   float64
 9   Lower Secondary % 2078                   6622 non-null   float64
 10  Upper Secondary % 2078                   6622 non-null   float64
 11  SLC or SEE % 2078                        6622 non-null   float64
 12  Intermediate & equivalent % 2078         6622 non-null   float64
 13  Graduate & equivalent % 2078             6622 non-null   float64
 14  Post graduate equivalent & above % 2078  6622 non-null   float64
 15  IS_Major?                                6622 non-null   int64
 16  IS_ALTERNATIVE_FORCE?                    6622 non-null   int64
 17  GenZ_and_Youth_Favored?                  6622 non-null   int64
 18  Was_Part_Of_Ousted_Government?           6622 non-null   int64
 19  Facebook_Presence (In Thousands)         6622 non-null   float64
 20  Top_leader_fb (in Thousands)             6622 non-null   float64
 21  facebook_log                             6622 non-null   float64
 22  leader_following_log                     6622 non-null   float64
 23  female_ratio                             6622 non-null   float64
 24  age_18-29_ratio                          6622 non-null   float64
 25  age_30-39_ratio                          6622 non-null   float64
 26  age_40-49_ratio                          6622 non-null   float64
 27  age_50-59_ratio                          6622 non-null   float64
 28  age_60-69_ratio                          6622 non-null   float64
 29  age_70+_ratio                            6622 non-null   float64
 30  total_voters                             6622 non-null   int64
 31  valid_turnout_lag                        6622 non-null   float64
dtypes: float64(23), int64(8), object(1)
memory usage: 1.6+ MB